<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.bpcbt.svfe.svfeCategory"
            name="SVFE">
      </category>
      <view
            allowMultiple="false"
            category="com.bpcbt.svfe.svfeCategory"
            class="com.bpcbt.svfe.TargetsView"
            icon="icons/bpc.png"
            id="com.bpcbt.svfe.targets"
            name="SVFE Targets"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="com.bpcbt.svfe.svfeCategory"
            class="com.bpcbt.svfe.ConsoleView"
            icon="icons/bpc.png"
            id="com.bpcbt.svfe.consoleView"
            name="Remote consoles"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               icon="icons/bpc.png"
               id="S"
               label="SVFE">
            <command
                  commandId="com.bpcbt.svfe.convertToSVFE"
                  label="Convert to SVFE project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.bpcbt.svfe">
                              </test>
                           </not></and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bpcbt.svfe.buildProject"
                  label="Build SVFE"
                  mnemonic="B"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.bpcbt.svfe">
                           </test>
                        </and></iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bpcbt.svfe.editConfigurations"
                  label="Edit configurations list"
                  mnemonic="C"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.bpcbt.svfe">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.bpcbt.svfe.editTargets"
                  label="Edit targets list"
                  mnemonic="T"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.bpcbt.svfe">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.bpcbt.svfe.eclipse.ConvertToSVFECommandHandler"
            description="Convert project to SVFE"
            id="com.bpcbt.svfe.convertToSVFE"
            name="Convert project to SVFE">
      </command>
      <command
            categoryId="com.bpcbt.svfe.commandCategory"
            defaultHandler="com.bpcbt.svfe.eclipse.BuildSVFECommandHandler"
            description="Build SVFE Project"
            id="com.bpcbt.svfe.buildProject"
            name="Build SVFE Project">
      </command>
      <command
            defaultHandler="com.bpcbt.svfe.eclipse.EditConfigurationsHandler"
            description="Edit SVFE configurations list"
            id="com.bpcbt.svfe.editConfigurations"
            name="Edit configurations">
      </command>
      <command
            defaultHandler="com.bpcbt.svfe.eclipse.EditTargetsHandler"
            description="Edit SVFE targets list"
            id="com.bpcbt.svfe.editTargets"
            name="Edit targets">
      </command>
      <category
            id="com.bpcbt.svfe.commandCategory"
            name="SVFE Commands">
      </category>
      <command
            categoryId="com.bpcbt.svfe.commandCategory"
            defaultHandler="com.bpcbt.svfe.eclipse.SendToConsoleCommand"
            description="Send key combination to current console"
            id="com.bpcbt.svfe.sendToConsole"
            name="Send key combination to current console">
      </command>
   </extension>
   <extension
         id="com.bpcbt.svfe"
         name="SVFE Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.bpcbt.svfe.eclipse.SVFENature">
         </run>
      </runtime>
      <builder
            id="com.bpcbt.svfe.eclipse.SVFEBuilder">
      </builder>
   </extension>
   <extension
         id="com.bpcbt.svfe.eclipse.SVFEBuilder"
         name="SVFE Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.bpcbt.svfe.eclipse.SVFEBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bpcbt.svfe.eclipse.SVFEPerspectiveFactory"
            fixed="false"
            icon="icons/bpc.png"
            id="com.bpcbt.svfe.SVFEPerspective"
            name="SVFE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.bpcbt.svfe.SVFEPerspective">
         <view
               closeable="true"
               id="org.eclipse.jdt.callhierarchy.view"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               ratio="0.15"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="com.bpcbt.svfe.targets"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.jdt.callhierarchy.view"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.bpcbt.svfe.sendToConsole"
            contextId="com.bpcbt.svfe.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="SVFE Consoles"
            id="com.bpcbt.svfe.context"
            name="SVFE Consoles"
            parentId="org.eclipse.ui.contexts.dialogAndWindow">
      </context>
   </extension>

</plugin>
